<table class="table"  *ngIf="news$ | async as news">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">title</th>
      <th scope="col">text</th>
      <th scope="col">url</th>
    </tr>
  </thead>
  <tbody >
    <tr scope="row" *ngFor="let item of news">
      <td>{{ item.id }}</td>
      <td>{{ item.title }}</td>
      <td>{{ item.text }}</td>
      <td><a href="{{ item.url }}" target="_blank">{{ item.url }}</a></td>
    </tr>
  </tbody>
</table>


<div class="alert alert-danger"
     *ngIf="errorMessage$ | async as errorMessage">
  {{ errorMessage }}
</div>


